<div class="panel panel-default">
	<div class="panel-heading">
		<h4> Order Header </h4>
	</div>

	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<td>Customer
						<a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#customersModal">
							SelectCustomer
						</a>
					</td>
					<td> Ship to:</td>
				</tr>
			</thead>
			<tr>
				<% if @customer.nil? then %>
				<td>Name:None</td>
				<% else %>
				<td>Name:<%= @customer.name %> </td>
				<% end %>

				<td>WuxiSicomm tech.Ltd</td>
			</tr>
			<tr>
				<td>Addr:Shenzhen</td><td>Addr: Wuxi Provice</td>
			</tr>
		</table>
	</div>
</div>
