<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Inventory#index</h1>
<% @items.each do |item| %>
<div class="entry">
	<%= image_tag(item.imageURL) %>
	<h3><%= item.name %></h3>
	<div class="price_line">
		<span class="price"><%= number_to_currency(item.price)%></span>
	</div>
</div>
<% end %>
<!--
<p>Find me in app/views/inventory/index.html.erb</p>
>