/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_tree .
 */
// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Purecsses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* SIMPLE LAYOUTS */
#layout-container
{
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#layout-content-container
{
  float: left;
  width: 100%;
  background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 0;
}

#layout-content
{
  clear: right;
  float: right;
  width: 80%;
  padding: 0 10px 0 0;
  margin: 0 0 0 0;
  display: inline;
}

#layout-content h2 { margin: 0; }

#layout-aside
{
  float: left;
  width: 15%;
  padding: 0px 0;
  margin: 0 0 0 0;
  display: inline;
}

#layout-aside h3 { margin: 0; }
