// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Global styles */

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

//#item_list table {
//        border-collapse: collapse;
//        background: gray;
//}

#item_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#item_list .list_image {
  width:        60px;
  height:       70px;
}

#item_list .list_description {
  width:        60%;
}

#item_list .list_description dl {
        margin: 0;
}

#item_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#item_list .list_description dd {
        margin: 0;
}

#item_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

//#item_list .list_line_even {
//  background-color:   #e0f8f8;
//}

//#item_list .list_line_odd {
//  background-color:   #f8b0f8;
//}



