// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Order's with pop up page
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background:  rgba(0,0,0,0.7);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target{
  opacity: 1;
  pointer-events: auto;
}


.modalDialog > div{
  //width: 400px;
  width: 720px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius: 6px;
}


.close{
    float: right;
    color: #ffffff;
    text-decoration: none;    
}

.close:hover {
   background:  rgba(0,0,0,0.3);
   font-weight: bold;
}

.gray {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #ffffff;
}

.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}

.modal.fade.in {
  top: 10%;
}