// ==== global navigation bar style ====
#menu{
  margin: 0; padding: 0;
  width: 100%; //100%-2px;
  height:34px;
  background-color: #0b75b2;//black;//#333;
  font-weight: bold;
  //font-size: 13px;
}

#menu ul{
  margin: 0;
  padding: 0;
  width :100%;
}

#menu .nav_left{
  margin: 0;
  padding: 6px;
  float: left;
  list-style: none;
}

#menu .nav_right{
  margin: 0;
  padding: 6px;
  float: right;
  list-style: none;
}


#menu ul li a{
  margin: 0;//0px 4px;//margin: 4px 2px;
  padding: 10px 8px 10px 8px;
  //float: left;
  color: white;
  text-decoration: none;
  background-color: #0b75b2;//red;//#0b75b2;//#333;
}

#menu ul li a:hover, .menu ul li .current{
  color: #fff;
  background-color: #333;//#0b75b2;
}

table.table.table-condensed {
    border: 1px solid #dddddd;
}
