<!DOCTYPE html>
<html>
<head>
  <title>RorWebERP</title>
  <%= stylesheet_link_tag    "application", "rorweberp",:all, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
